@import 'variables';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui;
    
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: $primary-color-body;
    overflow-x: hidden;
}


.xinfo-brand {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.xinfo-site-header {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #000000c7;
    align-items: center;
    justify-content: center;
}


.xinfo-site-header__wrapper {
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.xinfo-center {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}
 header img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.xinfo-nav__wrapper {
    position: fixed;
    top: 72px;
    left: 0;
    width: Max(220px, 20%);
    bottom: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    background-color: #313131;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    display: block;
}
.xinfo-nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.xinfo-nav__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.xinfo-nav__item a {
    display: block;
    padding: 1rem;
    color: #fff;
}

.xinfo-nav__toggle {
    max-width: 300px;
    background: rgba(128, 128, 128, 0.664);
    color: $text-color-button1;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button1;
    border-radius: $border-radius-button1;
    font-family: Helvetica;
    font-size: 14px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        background-color: white ;
        color:black  !important;
        cursor: pointer;
    }
}

// Estilo do contêiner principal
.xinfo-container1 {
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    background-color: $cor-corpo-secundario-transparente;
    border-radius: 20%;
    gap: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 20px 0;
    padding-bottom: 40px;

    h1 {
        font-size: 90px;
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: $cor-alternativa2;
        letter-spacing: 10px;
    }
}

.xinfo-text-container1 {
    max-width: 60%;
    color: $cor-cinza;
    font-size: 16px;
}

// Estilo do contêiner de cartões
.xinfo-cardsAll {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
}

// Estilo do cartão 1
.xinfo-card1 {
    background-color: $cor-corpo-primario;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 460px;
    margin: 20px;
    border: $borda-card1;
    border-radius: $raio-borda-card1;
    border-color: $cor-borda-card1;

    .image {
        border-radius: $raio-borda-imagem1;
        width: 100%;
        height: 100%;
    }

    .xinfo-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;

        h2 {
            letter-spacing: 2px;
            font-family: Helvetica;
            font-style: italic;
            margin: 10px 0 20px 0;
        }

        p {
            font-size: 12px;
            margin: 0 0 5px 0;
        }
    }
}

// Estilo do cartão 2
.xinfo-card2 {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 460px;
    margin: 20px;

    .image {
        border-radius: $raio-borda-imagem2;
        max-width: 100%;
        height: 300px;
    }

    .xinfo-content2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        h2 {
            letter-spacing: 2px;
            font-family: Helvetica;
            font-style: italic;
            margin: 10px 0 20px 0;
        }

        p {
            font-size: 12px;
            margin: 0 0 20px 0;
        }
    }
}

// Estilos responsivos
@media (max-width: 767px) {
    .xinfo-cardsAll {
        grid-template-columns: 1fr; // Layout de coluna única em telas menores
        padding: 10px;
    }

    .xinfo-card1, .xinfo-card2 {
        max-width: 100%; // Largura total em telas menores
        margin: 10px 0;
    }

    .xinfo-container1 h1 {
        font-size: 48px; // Tamanho da fonte menor para o cabeçalho em telas menores
        letter-spacing: 5px;
    }
}

@media (max-width: 479px) {
    .xinfo-container1 {
        padding: 0 10px;
    }

    .xinfo-container1 h1 {
        font-size: 36px; // Tamanho da fonte ainda menor para o cabeçalho em telas extra pequenas
        letter-spacing: 3px;
    }

    .xinfo-card1 .xinfo-content, .xinfo-card2 .xinfo-content2 {
        padding: 10px;
    }

    .xinfo-card1 .xinfo-content h2, .xinfo-card2 .xinfo-content2 h2 {
        font-size: 18px; // Tamanho da fonte menor para os títulos dos cartões em telas extra pequenas
    }

    .xinfo-card1 .xinfo-content p, .xinfo-card2 .xinfo-content2 p {
        font-size: 10px; // Tamanho da fonte menor para os textos dos cartões em telas extra pequenas
    }
}

// Estilo do container 2
.xinfo-container2 {
    display: flex;
    flex-direction: column;
    background-color: $cor-fundo-container2;
    width: 100%;
    height: auto;
    border-radius: 2.5%;
    align-items: center;
    justify-content: center;
    color: $cor-texto-claro;

    img {
        width: 100%;
        max-height: 620px;
        border-radius: 0% 0% 3% 3%;
    }
}

.xinfo-btn-text2 {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: aliceblue;
}

.xinfo-h2-text2 {
    h2 {
        margin-top: 100px;
        position: relative;
        bottom: 20px;
        left: 40px;
        color: $cor-texto-escuro;
    }

    span {
        color: $cor-texto-vermelho;
    }
}

.xinfo-content-2 {
    display: flex;
    flex-direction: row;
}

.xinfo-h3-text2 {
    width: 100%;
    
    h3 {
        margin-top: 50px;
        position: relative;
        bottom: 10px;
        left: 50px;
        color: $cor-texto-branco;
    }

    span {
        color: $cor-texto-vermelho;
    }
}

// Estilo dos cartões dentro do container 2
.xinfo-card2 {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 460px;
    margin: 20px;

    .image {
        border-radius: $raio-borda-imagem2;
        max-width: 100%;
        height: 300px;
    }

    .xinfo-content2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        h2 {
            letter-spacing: 2px;
            font-family: Helvetica;
            font-style: italic;
            margin: 10px 0 20px 0;
        }

        p {
            font-size: 12px;
            margin: 0 0 20px 0;
        }
    }
}

// Estilos responsivos
@media (max-width: 768px) {
    .xinfo-container2 {
        padding: 10px;
    }

    .xinfo-h2-text2 h2 {
        font-size: 36px; // Tamanho da fonte menor para o cabeçalho em telas menores
        left: 20px;
    }

    .xinfo-h3-text2 h3 {
        font-size: 24px; // Tamanho da fonte menor para o subtítulo em telas menores
        left: 20px;
    }

    .xinfo-content-2 {
        flex-direction: column; // Colocar os cartões em coluna em telas menores
        align-items: center;
    }

    .xinfo-card2 {
        max-width: 100%; // Largura total dos cartões em telas menores
        margin: 10px 0;
    }

    .xinfo-btn-text2 {
        flex-direction: column; // Mudar para coluna para melhor ajuste em telas menores
        height: auto;
    }

    .xinfo-btn-text2 p {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .xinfo-h2-text2 h2 {
        font-size: 28px; // Tamanho da fonte ainda menor para o cabeçalho em telas extra pequenas
    }

    .xinfo-h3-text2 h3 {
        font-size: 20px; // Tamanho da fonte menor para o subtítulo em telas extra pequenas
    }

    .xinfo-btn-text2 {
        gap: 5px; // Menor espaçamento entre os elementos do botão em telas extra pequenas
    }
}



//Botão 1 estilo 1 
.xinfo-button1-v1-roxo {
    max-width: 300px;
    background: $background-color-button1;
    color: $text-color-button1;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button1;
    border-color: $border-color-button1;
    border-radius: $border-radius-button1;
    font-family: Helvetica;
    font-size: 14px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        background-color: $backgroundHover-color-button1 ;
        color: $textHover-color-button1 !important;
        cursor: pointer;
    }

}


//botão 1 estilo 2
.xinfo-button1-v2-laranja {
    max-width: 300px;
    background: $background-color-button1v2;
    color: $text-color-button1v2;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button1v2;
    border-color: $border-color-button1v2;
    border-radius: $border-radius-button1v2;
    font-family: Helvetica;
    font-size: 14px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        background-color: $backgroundHover-color-button1v2;
        color: $textHover-color-button1v2 !important;
        cursor: pointer;
    }

}


//botão 1 estilo 3
.xinfo-button1-v3-verde {
    max-width: 300px;
    background: $background-color-button1v3;
    color: $text-color-button1v3;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button1v3;
    border-color: $border-color-button1v3;
    border-radius: $border-radius-button1v3;
    font-family: Helvetica;
    font-size: 14px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        background-color: $backgroundHover-color-button1v3;
        color: $textHover-color-button1v3 !important;
        cursor: pointer;
    }
}

//botão 1 estilo 4
.xinfo-button1-v4-branco {
    max-width: 300px;
    background: $background-color-button1v4;
    color: $text-color-button1v4;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button1v4;
    border-color: $border-color-button1v4;
    border-radius: $border-radius-button1v4;
    font-family: Helvetica;
    font-size: 14px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        background-color: $backgroundHover-color-button1v4;
        color: $textHover-color-button1v4 !important;
        cursor: pointer;
    }
}
//botão 1 estilo 5
.xinfo-button1-v5-preto {
    max-width: 300px;
    background: $background-color-button1v5;
    color: $text-color-button1v5;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button1v5;
    border-color: $border-color-button1v5;
    border-radius: $border-radius-button1v5;
    font-family: Helvetica;
    font-size: 14px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        background-color: $backgroundHover-color-button1v5;
        color: $textHover-color-button1v5 !important;
        cursor: pointer;
    }
}



//botão 2 estilo 1
.xinfo-button2-v1-roxo {
    max-width: 300px;
    background: $background-color-button2;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button2;
    border-radius: $border-radius-button2;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2 !important;
        border-color: $border-color-button2;
        cursor: pointer;
    }

    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }

}
//botão 2 estilo 2
.xinfo-button2-v2-laranja {
    max-width: 300px;
    background: $background-color-button2v2;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button2v2;
    border-radius: $border-radius-button2v2;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    color: $text-color-button2v2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2v2 !important;
        border-color: $border-color-button2v2;
        cursor: pointer;
    }

    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }
}

//botão 2 estilo 3
.xinfo-button2-v3-verde {
    max-width: 300px;
    background: $background-color-button2v3;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button2v3;
    border-radius: $border-radius-button2v3;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    color: $text-color-button2v3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2v3 !important;
        border-color: $border-color-button2v3;
        cursor: pointer;
    }


    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }
}

//botão 2 estilo 4
.xinfo-button2-v4-branco {
    max-width: 300px;
    background: $background-color-button2v4;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button2v4;
    border-radius: $border-radius-button2v4;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 14px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    color: $text-color-button2v4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2v4 !important;
        background-color: $backgroundHover-color-button2v4;
        cursor: pointer;
    }


    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }
}

//botão 2 estilo 5 
.xinfo-button2-v5-preto {
    max-width: 300px;
    background: $background-color-button2v5;
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: $border-button2v5;
    border-radius: $border-radius-button2v5;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 15px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.5s ease-in-out 0.0s, color 0.5s ease-in-out 0.0s;
    color: $text-color-button2v5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2v5 !important;
        background-color: $backgroundHover-color-button2v5;
        cursor: pointer;
    }


    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }
}



//botão 2 estilo 1 = bg cinza
.xinfo-button2-v1-roxo-bgGray {
    max-width: 300px;
    background: rgba(128, 128, 128, 0.445);
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: black;
    border-radius: $border-radius-button2;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease-in-out 0.2s, color 0.2s ease-in-out 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2 !important;
        border-color: $border-color-button2;
        cursor: pointer;
    }

    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }

}
//botão 2 estilo 2 = bg cinza
.xinfo-button2-v2-laranja-bgGray {
    max-width: 300px;
    background: rgba(128, 128, 128, 0.445);
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: black;
    border-radius: $border-radius-button2v2;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease-in-out 0.2s, color 0.2s ease-in-out 0.2s;
    color: $text-color-button2v2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2v2 !important;
        border-color: $border-color-button2v2;
        cursor: pointer;
    }

    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }
}

//botão 2 estilo 3 = bg cinza
.xinfo-button2-v3-verde-bgGray {
    max-width: 300px;
    background: rgba(128, 128, 128, 0.445);
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: black;
    border-radius: $border-radius-button2v3;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease-in-out 0.2s, color 0.2s ease-in-out 0.2s;
    color: $text-color-button2v3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2v3 !important;
        border-color: $border-color-button2v3;
        cursor: pointer;
    }


    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }
}

//botão 2 estilo 4 = bg cinza
.xinfo-button2-v4-branco-bgGray {
    max-width: 300px;
    background: rgba(128, 128, 128, 0.445);
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: black;
    border-radius: $border-radius-button2v4;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 14px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease-in-out 0.2s, color 0.2s ease-in-out 0.2s;
    color: $text-color-button2v4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2v4 !important;
        background-color: $backgroundHover-color-button2v4;
        cursor: pointer;
    }


    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }
}

//botão 2 estilo 5 = bg cinza
.xinfo-button2-v5-preto-bgGray {
    max-width: 300px;
    background: rgba(128, 128, 128, 0.445);
    font-size: $font-size-base;
    padding: $spacing-unit;
    border: black;
    border-radius: $border-radius-button2v5;
    font-family: Helvetica;
    font-size: 14px;
    padding: 8px 15px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease-in-out 0.2s, color 0.2s ease-in-out 0.2s;
    color: $text-color-button2v5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 5px;

    &:hover {
        color: $textHover-color-button2v5 !important;
        background-color: $backgroundHover-color-button2v5;
        cursor: pointer;
    }


    h2 {
        letter-spacing: 2px;
        font-family:Helvetica;
        font-style: italic;
        margin:10px 0px 20px 0px ;
    }
    p {
        font-size: 12px;
        margin: 0px 0px 20px 0px ;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.xinfo-wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Roboto", sans-serif;
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.xinfo-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #5c5c5c;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

.xinfo-button svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: #fff;
}

.xinfo-button span {
    display: none;
}

@media (min-width: 600px) {
    .xinfo-button span {
        display: initial;
    }
}

.xinfo-button--icon {
    min-width: initial;
    padding: 0.5rem;
}