@import 'variables';
@import 'mixins';

@import 'header';
@import 'container1';
@import 'container2';
@import 'card1';
@import 'card2';
@import 'button1';
@import 'button2';
@import 'buttonGray';
@import 'responsive';
@import 'buttonSingUp';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui;
    
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: $primary-color-body;
    overflow-x: hidden;
}